<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ZO_oпарк | {{ post.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<div class="g-image"
     style="background: linear-gradient(90deg, rgba(210,213,27,1) 0%, rgba(34,164,129,1) 49%, rgba(20,121,142,1) 100%); min-height: 4000px;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Новости ZO_oпарка</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Переключатель навигации">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">О нас</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Разделы сайта
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/birds">Новости о птицах</a></li>
                                <li><a class="dropdown-item" href="/mammals">
                                    <mark>Новости о млекопитающих</mark>
                                </a></li>
                                <li><a class="dropdown-item" href="/fish">Новости о рыбах</a></li>
                                <li><a class="dropdown-item" href="/shue">Форум</a></li>
                                <li><a class="dropdown-item" href="/gallery">Галерея</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/contact">Контактная информация</a></li>
                            </ul>
                        </li>
                        <div class="nav-item">
                            <form action="{% url 'search' %}" method="get">
                                <input type="search,text" name="q" placeholder="Поиск новостей">
                                <button type="submit">Найти</button>
                            </form>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% block content %}
        <div style="margin-top: 1%">
            <div class="container-fluid">
                <div class="row align-items-start">
                    <div class="col">
                        <div class="bg-image card shadow-1-strong"
                             style="background: linear-gradient(90deg, rgba(115,94,18,1) 0%, rgba(161,181,49,1) 52%, rgba(23,149,175,1) 100%);">
                            <div class="card-body text-white">
                                <h2>{{ mammalspost.title }}</h2>
                                <p>Автор поста: <b>{{ mammalspost.author }}</b></p>
                                <a href="/mammals" style="text-decoration: none; color: #ffffff">Вид: Млекопитающие</a>
                                <p>{{ mammalspost.body }}</p>
                                <p>Дата поста: <b>{{ mammalspost.date }}</b></p>
                                <img src="https://logos-world.net/wp-content/uploads/2021/03/San-Diego-Zoo-Logo.png"
                                     alt="ZO_опаркLogo" width="10%"
                                     height="10%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    {% endblock content %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

</div>
</body>
</html